        {% include 'header.html' %}
        {% if not one_survey_active %}
            <a href="{{ url_for('index') }}" class="btn-back">&larr; Back to all boards</a> <br/><br />
        {% endif %}
        <h2 class="bingo-title">{{ title }}</h2>
        <div class="bingo-board">
            {# Loop through data, rendering each bingo board square #}
            {% for square in data %}
                {% if not square.response == '' %}
                    <div class="square completed" onclick="openModalWithResponse('{{ escape_string(square.prompt) }}', {{ square.id }}, '{{ escape_string(square.response) }}')">
                {% else %}
                    <div class="square" onclick="openModal('{{ escape_string(square.prompt) }}', {{ square.id }})">
                {% endif %}
                        {{ square.short_prompt }}
                    </div>
            {% endfor %}
            </div>
        </div>

        <!-- Modal -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h2 class="modal-prompt"> What is their name? What is their department or major?<br /><span id="main-question" class="main-question"></span></h2>
                </div>
                <form action="{{ url_for('bingo_board', id = id) }}" method="post">
                    <div class="modal-body">
                            <input type="hidden" name="prompt_id" id="prompt_id" value="">
                            <textarea class="response-textarea" name="response" id="response" placeholder="Your response"></textarea>
                    </div>
                    <div class="modal-footer">
                        <input class="btn-submit-response" type="submit" value="Complete!">
                    </div>
                </form>
            </div>
        </div>

        {% include 'footer.html' %}