        <div class="footer-spacer"></div>
        <!-- footer -->
        <footer class="footer">
            <p>© 2024 - All rights reserved</p>
            <img src="{{ url_for('static', filename='img/qr.png') }}" width="400" height="400" alt="QR Code" class="qr-code"><br />
            <a class="survey-link" href="https://forms.gle/gYvXnbbMmiMnmM3n7" target="_blank">Validation Survey</a>
        </footer>
        <!-- include any scripts -->
        <script src="{{ url_for('static', filename='modal.js') }}"></script>
        <script src="{{ url_for('static', filename='hamburger.js') }}"></script>
    </body>
</html>